@page
@model IndexModel
@{
    ViewData["Title"] = "Landing";
}

<div class="text-center">
    <a asp-page="./Bricks/Index">
        <h1 class="display-4">Worldbuilder</h1>
    </a><br /><br />
    <p>Worldbuilder is a simple application that allows you to create and organize your worlds.</p>
    <br />
    <p ali>Sample usage:</p>
    <p>
    - tool for creating rich, detailed worlds for RPG games,<br />
   - simplified, structured wiki for a computer game,<br />
    - way of keeping track of characters and places when writing a book.<br />
                
    </p><br /><br />
              <p>Base building blocks are called "bricks" - you can assign other bricks to them as parents or children, denoting their relations
    (i.e. a continent is a parent for a country and a child of a planet). Every brick can have one or more categories assigned. Every category can be grouped
    under one of the category types (i.e. "river" is a category of a category type "geography").</p>
           

</div>
